{
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "angularWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": "src/**/*.html",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "src/**/*.(scss|css)",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
